html {
    background-color: rgba(0, 1, 71, 0.89); 
}
form { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.9;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: rgb(255, 255, 255);
  }

  input {
    border: 3px solid #555;
    border-radius: 2px;
  }